{% extends 'base.html' %}
{% block content %}

<div class="container">
     <div class="row justify-content-md-center">
        <div class="col-8">
            <div class="card w-85">
                <br>
                <img class="card-img-top" src="{{ image.image.url }}" alt="image">
                <div class="card-body">
                    <h4 class="card-text">Author <a href="#"> {{ image.author }}</a></h4>
                    <p class="card-text">{{ image.text }}</p>
                    {% for user in  image.favorites.all %}
                        <a href="">{{user.username}}</a>
                    {% empty %}
                        <p>No favorites yet.</p>
                    {% endfor %}
                    <a class="btn btn-secondary" href="{% url 'update' image.pk %}">Update</a>
                    <a class="btn btn-secondary" href="{% url 'delete' image.pk %}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}